.city{
    color: rgb(31, 31, 58);
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.date{
    font-size: 2rem;
    text-align: center;
    color: rgb(227, 218, 201);
    font-weight: bold;
    margin: 10px;
}

.div{
    width: 50vw;
    border-radius: 30px;
    background-size: cover;
    padding: 1em;
}

.icon{
    width: 7rem;
    height: 7rem;
    background-color: rgba(34, 26, 26, 0.497);
    border-radius: 10px;
}
.outer{
    background-color: rgba(88, 79, 68, 0.3);
    border-radius: 30px;
   padding: 2rem;
}
.inner{
    display: flex;
    justify-content: space-between;
}
p{
    font-weight: bold;
}
.inner p{
    font-size: 1.6rem;
    color: rgb(238, 218, 138);
}

.outer > p{
    font-size: 1.3rem;
    color: rgb(88, 216, 238);
}

@media (max-width: 1050px){
    .div{
        width: 70vw;
    }
}

@media (max-width: 900px){
    .div{
        width: 90vw;
    }
}

