.forecast{
    display: flex;
    justify-content: space-between;
    margin: 0.8rem 0.3rem;
}

.forecastHeader{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
}

@media (max-width: 600px){
    .forecast{
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
}